{
  "UPLOAD_URL": "",
  "PROJECT_URL": "",
  "AUTO_ACCESS": false,
  "FILE_PATH": "./.cache",
  "SUB_PATH": "mmm",
  "UUID": "7f5fb7d3-0f98-86de-accb-073ccb24844a",
  "NEZHA_SERVER": "",
  "NEZHA_PORT": "",
  "NEZHA_KEY": "",
  "ARGO_DOMAIN": "",
  "ARGO_AUTH": "",
  "ARGO_PORT": 8001,
  "CFIP": "194.53.53.7",
  "CFPORT": 443,
  "CHAT_ID": "",
  "BOT_TOKEN": "",
  "SERVER_PORT": 3000,
  "PORT": 3000,
  "NAME": "",
  "DEBUG": false,
  "AUTH_ACCESS": "",
  "ACCOUT": ""
}
