{
  "UPLOAD_URL": "",
  "PROJECT_URL": "",
  "AUTO_ACCESS": false,
  "FILE_PATH": "./.cache",
  "SUB_PATH": "mmm",
  "UUID": "20e6e496-cf19-45c8-b883-14f5e11cd9f1",
  "NEZHA_SERVER": "",
  "NEZHA_PORT": "",
  "NEZHA_KEY": "",
  "ARGO_DOMAIN": "",
  "ARGO_AUTH": "",
  "ARGO_PORT": 8001,
  "CFIP": "194.53.53.7",
  "CFPORT": 443,
  "CHAT_ID": "",
  "BOT_TOKEN": "",
  "SERVER_PORT": 3000,
  "PORT": 3000,
  "NAME": "",
  "DEBUG": false,
  "AUTH_ACCESS": "",
  "RUN_HTTP": false
}
